:root{
    --border-radius: 3px;
    --status-1: red;
    --status-2: orange;
    --status-3: goldenrod;
    --status-4: green;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    min-width: 620px;
    background: rgb(132,80,255);
    background: -moz-linear-gradient(90deg, rgba(132,80,255,1) 0%, rgba(173,161,253,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(132,80,255,1) 0%, rgba(173,161,253,1) 100%);
    background: linear-gradient(90deg, rgba(132,80,255,1) 0%, rgba(173,161,253,1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8450ff",endColorstr="#ada1fd",GradientType=1);
    font-family: 'Inter', sans-serif;
}

h1, .board-title, .board-column-title{
    font-weight: bold;
}

/*button, #navbar a{*/
/*    background: #222;*/
/*    color: #fff;*/
/*    border: none;*/
/*    font-size: 14px;*/
/*    font-family: sans-serif;*/
/*    padding: 6px 10px;*/
/*    border-radius: 4px;*/
/*}*/

.board-container{
    max-width: 960px;
    margin: 0 auto;
}

section.board {
    margin-bottom: 1rem;
    border: aliceblue;
    background: #ffffff90;
    border-radius: 3px;
    width: 60vw;
}

.board-header{
    height: 60px;
    background: #fff;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    display: flex;
    align-items: center;
}

.board-title{
    margin: 13px;
    display: inline-block;
    font-size: 20px;
}
.board-title, .board-add, .board-toggle{
    display: inline-block;
}

.board-toggle{
    margin-left: auto;
}

.board-columns{
    display: flex;
    flex-wrap: nowrap;
}

.board-column{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    flex: 1;
}

.board-column-header {
    display: flex;
    width: 80%;
    align-items: center;
}

.board-column-content{
    width: 80%;
    border: 2px solid #cdcdcd;
    margin-top: 4px;
    border-radius: 10px;
    padding: 10px 10px 40px;
    background: #eee;
}

.board-column-title{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-width: 4rem;
    max-width: 10rem;
    font-size: large;
    min-height: 2rem;
}

.delete-column {
    width: max-content;
    height: max-content;
    display: flex;
    margin-left: auto;
}

.card {
    position: relative;
    background: #222;
    color: #fff;
    border-radius: var(--border-radius);
    margin: 4px 0;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.board-column:nth-of-type(1) .card{
    background: var(--status-1);
}

.board-column:nth-of-type(2) .card{
    background: var(--status-2);
}

.board-column:nth-of-type(3) .card{
    background: var(--status-3);
}

.board-column:nth-of-type(4) .card{
    background: var(--status-4);
}

.card-remove {
    display: block;
    position: absolute;
    align-self: flex-end;
    font-size: 12px;
    cursor: pointer;
}

.card-title {
    padding: 0.1rem;
    min-width: 2rem;
    width: max-content;
    max-width: 8rem;
    height: 2em;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
}

#new-board-form {
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 2rem;
    width: 35vw;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
}

#new-board-form * {
    margin: 0.5rem;
}

#load-new-board-form {
    background: transparent;
    color: #fff;
    border: 3px solid white;
    border-radius: 40px;
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 20px;
}

.board-header button {
    background: #6F52FE;
    color: #fff;
    border: none;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 12px;
    margin-right: 1rem;
}

.board-column button {
    background: #6F52FE;
    color: #fff;
    border: none;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 6px;
}

.column-buttons {
    display: flex;
    margin-top: 0.5rem;
    justify-content: space-evenly;
}

#navbar {
    display: flex;
    height: max-content;
}

#navbar-buttons {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

#navbar a {
    text-decoration: none;
    font-weight: bold;
}

#navbar * {
    color: white;
}

#navbar-buttons * {
    margin-top: 0.75rem;
    margin-right: 2rem;
}

#logo {
    margin-top: 0.5rem;
    display: flex;
    height: 40px;
    padding: 0.5rem 2rem;
}

#form-container {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
}

#form-container button, #submit-new-board-title {
    background: #fff;
    color: #6F52FE;
    border: none;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 6px;
    width: 100%;
}

#submit-new-board-title {
    width: max-content;
}

#form-container input, #new-board-form input {
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 4px;
}

label[for='private-checkbox'] {
    font-weight: bold;
    color: white;
}