<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <form action="#" class="form">
        <label for="username">Username</label>
        <input required type="text" name="username" id="username" placeholder="username">
        <label for="password">Password</label>
        <input required type="password" name="password" id="password" placeholder="password">
        <button type="submit" id="submit">Log in</button>
    </form>
</body>
</html>