{%  extends 'layout.html' %}
{%  block title %} Register {% endblock %}
{%  block content %}
    <div class="error-message">
        {% if message != '' %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
    <form action="#" class="form" method="post">
        <label for="username">Username</label>
        <input required type="text" id="username" name="username" placeholder="username">
        <label for="password">Password</label>
        <input required type="password" id="password" name="password" placeholder="password">
        <button type="submit" id="submit">Register</button>
    </form>
{% endblock %}