{%  extends 'layout.html' %}
{%  block title %} Register {% endblock %}
{%  block content %}
    <div id="form-container">
        <div class="error-message">
            {% if message != '' %}
                <p>{{ message }}</p>
            {% endif %}
        </div>
        <form action="#" class="form" method="post">
            <p>
                <label for="username">Username:</label> <br>
                <input required type="text" name="username" id="username" placeholder="username" autofocus autocomplete="off">
            </p>
            <p>
                <label for="password">Password:</label> <br>
                <input required type="password" name="password" id="password" placeholder="password">
            </p>
            <p>
                <button type="submit" id="submit">Register</button>
            </p>
        </form>
    </div>
{% endblock %}